.button{
	-fx-background-color: mediumslateblue;
	-fx-text-fill:white;
	-fx-background-radius: 20;
	-fx-font: bold 10pt "Poppins";
}
.root{
    -fx-background-image: url("GUI/images/background.jpg");
    -fx-background-size: cover;

    }